.portfolio-panel {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 15px 0 rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 75%;
  height: 80vh;
  margin-left: 13.5%;
  margin-top: 14vh;
  overflow: hidden;
}

.portfolio-header {
  font-size: 5rem;
  font-family: Fredoka;
  margin-left: 30%;
}

.orange-panel {
  width: 20rem;
  height: 15rem;
  background-color: #f8903b;
  overflow: hidden;
  position: absolute;
  border-radius: 25px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 20rem;
  height: 15rem;
}
